/************************************************************
*	GENERAL
*************************************************************/
* {	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	min-height: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #abd1c6;
}

main {
	padding: 4em 0;
	background-color: #004643;
	flex-grow: 1;
}


/************************************************************
*	UTILITIES
*************************************************************/
.btn.btn-warning {
	margin-top: 1rem;
	color:#001e1d;
	background-color: #f9bc60;
	font-weight: 600;
}

.navbar {
	margin-bottom: 0;
	background-color: #001e1d;
}

.page-header {
	margin-top: 0;
}

.my-page-header {
	color: #fffffe;
	display: flex;
	justify-content: space-between;
}

.panel-danger>.panel-heading {
	background-color: #e16162;
	color: #fffffe;
}

.panel-body {
	background-color: #fffffe;
	color: #001e1d;
	font-size: 18px;
	font-weight: 600;
}


/************************************************************
*	REPORT
*************************************************************/
.popular-courses-container {
	display: flex;
	justify-content: space-between;
	max-height: 500px;
	margin: 5em 0;
	row-gap: 2em;
	color: #001e1d;
}

.popular-courses-container > * {
	overflow-y: hidden; 
}

.popular-courses-container > div {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #e8e4e6;
	border-radius: 25px;
	width: calc(50% - 3em);
	padding: 30px;
}

.teacher-table, .teacher-table th {
	text-align: right;
}

.numeric-info {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	flex-direction: column;
	row-gap: 2em;
	width: 50%
}

.section-info {
	display: flex;
	justify-content: space-between;
}

.section-info > div {
	color: #001e1d;
	display: flex;
	width: calc(33% - 3em);
}

.numeric-info > div, .last-course > div {
	background-color: #abd1c6;
	padding: 30px;
	border-radius: 25px;
}

.numeric-info h2, .last-course h2 {
	text-transform: uppercase;
}

.last-course {
	height: 80%;
}

.last-course > div {
	background-color: #f9bc60;
}

.nominativo {
	cursor: pointer;
}

/************************************************************
*	HOME BUTTON
*************************************************************/
.home-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 2em;
	column-gap: 2em;
}

.home-button .my-btn {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.home-button .my-btn:nth-child(1) {
	font-weight: bold;
	text-transform: uppercase;
}

.home-button .my-btn:nth-child(2) {
	font-weight: bold;
	text-transform: uppercase;
}

.home-button .my-btn:nth-child(3) {
	font-weight: bold;
	text-transform: uppercase;
}


/************************************************************
*	FOOTER
*************************************************************/
footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #001e1d;
	color: #abd1c6;
	flex-wrap: wrap;
	padding: 40px;
}

footer ul {
	list-style: none;
}

footer > a {
	text-decoration: none;
}

footer > * {
	margin: 1em 2em;

}



/************************************************************
*	MEDIA QUERIES
*************************************************************/
@media screen and (max-width: 768px) {
	.popular-courses-container > div {
		width: 80%;
	}
	
	.section-info > div {
		width: 80%;
	}
	
	.section-info {
		justify-content: center;
		row-gap: 2em;
		flex-wrap: wrap;
	}
	
	.popular-courses-container {
		justify-content: center;
		flex-wrap: wrap;
		max-height: 600px;
	}
}
