html {
	font-size: 100%;
	min-height: 100%;
}

* {	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


main {
	padding: 5em 0;
	background-color: #004643;
}

.my-page-header {
	color: #fffffe;
	display: flex;
	justify-content: space-between;
}

.popular-courses-container {
	display: flex;
	justify-content: space-between;
	max-height: 500px;
	margin: 5em 0;
	row-gap: 2em;
}

.popular-courses-container > * {
	overflow-y: hidden; 
}

.popular-courses-container > div {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #e8e4e6;
	border-radius: 25px;
	width: calc(50% - 3em);
	padding: 30px;
}

.teacher-table, .teacher-table th {
	text-align: right;
}

.numeric-info {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	flex-direction: column;
	row-gap: 2em;
	width: 50%
}

.section-info {
	display: flex;
	justify-content: space-between;
}

.section-info > div {
	color: #001e1d;
	display: flex;
	width: calc(33% - 3em);
}

.numeric-info > div, .last-course > div {
	background-color: #abd1c6;
	padding: 30px;
	border-radius: 25px;
}

<<<<<<< HEAD
.numeric-info h2, .last-course h2 {
	text-transform: uppercase;
}

.last-course {
	height: 80%;
}

.last-course > div {
	background-color: #f9bc60;
}
=======
>>>>>>> branch 'master' of https://github.com/Andrea-Mattia/GestioneCorsi.git

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #111;
	color: white;
	flex-wrap: wrap;
	padding: 40px;
}

footer > a:hover {
	text-decoration: none;
}

footer > * {
	margin: 1em 2em;
<<<<<<< HEAD
}
=======

}


>>>>>>> branch 'master' of https://github.com/Andrea-Mattia/GestioneCorsi.git

@media screen and (max-width: 768px) {
	.popular-courses-container > div {
		width: 80%;
	}
	
	.section-info > div {
		width: 80%;
	}
	
	.section-info {
		justify-content: center;
		row-gap: 2em;
		flex-wrap: wrap;
	}
	
	.popular-courses-container {
		justify-content: center;
		flex-wrap: wrap;
		max-height: 600px;
	}
}

<<<<<<< HEAD
=======

>>>>>>> branch 'master' of https://github.com/Andrea-Mattia/GestioneCorsi.git
